# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
*.out

# Dependency directories
vendor/

# Local environment variables
.env

# Local database files
*.db
